
<h3 class="title-bg " style="color:#fc7700; font-family:'Book Antiqua';text-align:center;">
    Thông tin liên lạc
</h3>

<h3 class="title-bg " style="color:#fc7700; font-family:'Book Antiqua';text-align:center;">
   Thông tin liên lạc
</h3>

<div class="row">
    <div class="span6">
        <label for="exampleInputEmail1" class="labelOrder">HỌ TÊN</label>
        <input type="text" class="Iplarge span6" height="50">
    </div>
    <div class="span6">
        <label for="exampleInputEmail1" class="labelOrder">EMAIL</label>
        <input type="text" class="span6 Iplarge" />
    </div>
</div>
<div class="row">
    <div class="span4">
        <label for="exampleInputEmail1" class="labelOrder">ĐIỆN THOẠI</label>
        <input type="text" class="Iplarge span6">
    </div>
    <div class="span4">
        <label for="exampleInputEmail1" class="labelOrder">ĐỊA CHỈ</label>
        <input type="text" class="span6 Iplarge" />
    </div>
    <div class="span4">
        <label for="exampleInputEmail1" class="labelOrder">SỐ LƯỢNG</label>
        <input type="text" class="span6 Iplarge" />
    </div>
</div>
<div class="row">
    <div class="span12">
        <label for="exampleInputEmail1" class="labelOrder">GHI CHÚ</label>
        <textarea type="email" class="span12 note" rows="10"></textarea>
    </div>
</div>
   
<style>
    .Iplarge {
        height:1.5em !important ;
        font-size:20px !important;
    }

    .row {
        margin-bottom:0px !important;
    }

    .labelOrder {
        font-weight:bold;
    }

    .note{
        font-size:20px !important;
    }

</style>