
<div class="row">
    <div class="span6">
        <label for="exampleInputEmail1" class="labelOrder">HỌ TÊN</label>
        <input type="email" class="Iplarge span6" height="50">
    </div>
    <div class="span6">
        <label for="exampleInputEmail1" class="labelOrder">EMAIL</label>
        <input type="text" class="span6 Iplarge" />
    </div>
</div>
<div class="row">
    <div class="span6">
        <label for="exampleInputEmail1" class="labelOrder">ĐIỆN THOẠI</label>
        <input type="email" class="Iplarge span6">
    </div>
    <div class="span6">
        <label for="exampleInputEmail1" class="labelOrder">ĐỊA CHỈ</label>
        <input type="text" class="span6 Iplarge" />
    </div>
</div>
<div class="row">
    <div class="span12">
        <label for="exampleInputEmail1">HỌ TÊN</label>
        <textarea type="email" class="input-lg span12" placeholder="Email"></textarea>
    </div>
</div>
   
<style>
    .Iplarge {
        height:2em !important ;
        font-size:24px !important;
    }

    .row {
        margin-bottom:0px !important;
    }

    .labelOrder {
        
    }

</style>